export const getJSON = (url) => fetch(url).then(r => r.json());
export const postJSON = (url, data) =>
  fetch(url, {method:'POST', headers:{'Content-Type':'application/json'}, body: JSON.stringify(data)}).then(r => r.json());
